body{
    background-color:dodgerblue;
}
    
    
    #player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid darkturquoise;
padding: 10px;
float: none;
text-align: left;
height:200px;

}
#backLogin{
    margin:10px;
    width:70px;
    font-weight:bold;
}